.container{
  padding: 50px 5%;
}

.title{
  margin-bottom: 20px;
}

.cardList{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}




@media only screen and (max-width: 1000px) {
  .cardList{
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .cardList{
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}

